@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

h1 {
    font-family: 'Rubik Moonrocks';
}

.hidden {
    display: none;
}

.swirl-in-bck {
	-webkit-animation: swirl-in-bck 1.5s ease-out both;
	        animation: swirl-in-bck 1.5s ease-out both;
}

div#winner {
    font-family: 'Rubik Moonrocks';
    font-size: xx-large
}


@keyframes swirl-in-bck{0%{transform:rotate(540deg) scale(5);opacity:0}100%{transform:rotate(0) scale(1);opacity:1}}